*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../images/background.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
}
.header-container{
    height: 100%;
    width: 100%;
}
.buttons-post{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 100%;
    position: absolute;
    text-align: center;
}
.post-button{
    width: 120px;
    padding: 10px;
    font-size: 15px;
    color: black;
    background-color:#CFB53B;
    cursor: pointer;
    margin:0 10px;
}
.post-button:hover{
    color: white;
    background-color: blue;
}
.post-create{
    height: 40vh;
    font-family: 'Arial';
}
.model-button{
    width: 120px;
    align-self: center;
    padding: 10px;
    background-color: rgb(61, 126, 61);
    color: white;
    border: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.post-body{
    position: relative;
    text-align: left;
}
.model-boxpost-model{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    font-family: sans-serif;
    padding: 20px;
}
.model-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}