.post-start-continer{
    padding: 30px 60px;
}
.post-header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#postAutherName{
    justify-content: space-between;
    margin: 15px 0;
}
.postauther{
    font-family: 'Ubuntu Mono',cursive;
    font-size: 22px;
}
.edit-btn{
    width: 80px;
    padding: 5px;
    color: white;
    background-color: rgba(237,37,83);
    box-shadow:0px 10px 20px -5px rgb(237, 37, 84);
    float: right;
    border: none;
    cursor: pointer;
}
.fa-edit,.fa-save{
    padding: 6px;
    font-size: 16px;
}
#postPara{
    font-size: 16px;
    text-align: justify;
}
.likepost{
    margin: 15px;
    transform: translateX(-1%);
}
#likePostButton{
    padding: 5px;
    width: 80px;
    color: white;
    background-color:rgb(237, 37, 84);
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 0px 10px 20px -5px rgb(237, 37, 84);
}
.fa-thumbs-up{
    margin: 5px;
}
#likeCount{
    font-size: 14px;
    color: grey;
}
.commenttext{
    width: 100%;
    margin: 25px 0;
}
#comment{
    width: 70%;
    height: 80px;
}
.comment-button{
    width: 100px;
    padding: 10px;
    border: none;
    color: white;
    background-color: rgb(237, 37, 84);
    margin-top:10px;
    box-shadow: 0px 10px 20px -5px rgb(237, 37, 84);
}
.all-comments{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#addComments{
    padding: 10px 0;
    width: 70%;
    background-color:	rgb(232,232,232);
    display: none;
}